@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Montserrat',sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: #0d0d0d;
  cursor: pointer;
  transition: border-color 0.50s;
  font-family: Px Grotesk, sans-serif;
}
button:hover {
  border-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.my-animation {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: #0d0d0d;
  cursor: pointer;
  transition: border-color 0.50s;
  font-family: Px Grotesk, sans-serif;
}
.my-animation:hover {
  border-color: #ffffff;
}
.my-animation:focus,
.my-animation:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
ul {
  list-style: none;
  padding: 0;
}